*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 60%;
}

body{
/*     width: 100vw;
    height: 100vh; */
    background-image: url(./assets/background.png);
    background-size: cover;

}

h1{
    margin-bottom: 5px;
    font-size: 3rem;
}

label, button, input, h2, p {
    font-size: 2rem;
}

input{
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.box-calc {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.form {
    position: relative;
    text-align: center;
    width: 100%;
}

.form .input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

.box-calc label {
    margin-bottom: 0.5rem;
}  

.box-calc input {
    max-width: 18rem;
    height: 5rem;
    background: #fafafc;
    border: 0.1rem solid #e6e6f0;
    border-radius: 0.8rem;
    text-align: center;
}

.box-calc input::placeholder {
    color: #9c98a6;
  }

  .box-calc button {
    width: 18.8rem;
    height: 5.7rem;
    background: #99D140;
    color: #fff;
    border: none;
    border-radius: 3.6rem;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    transition: background 0.2s;
  }

  .box-calc button:hover {
    background: #80C41C;
  }

  .result-info {
    text-align: center;
    color: #000;
    width: 0 auto;
    margin-top: 1.5rem;
    background-color: white;
      padding: 1rem;
      border-radius: 0.6rem;
  }

  .result-block {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.6rem;
  }
  
  .result-block img {
    width: 3rem;
    height: 3rem;
    margin: 0;
    margin-right: 0.5rem;
  }
  
  .result-block p {
    text-align: center;
    color: rgb(44, 44, 44);
  }

  /* Desktop Responsivity */

@media (min-width: 700px) {
/*     * {
      overflow: hidden;
    } */
  
    .text-content h1 {
      font-size: 4rem;
      width: 50rem;
    }
  
    .box-calculo {
      height: 100vh;
      background: #ffe162;
      border-radius: 4rem 0 0 4rem;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .form {
      margin-top: 2rem;
      width: 70%;
    }
  
    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 0;
    }
  }
  
  /* Mobile Responsivity */
  
  @media (max-width: 700px) {
    #result {
      width: 90%;
    }
  
    .result-info {
      margin-bottom: 3rem;
      background-color: white;
      padding: 1rem;
      border-radius: 0.6rem;
    }
  
    .result-block {
      justify-content: space-between;
      margin: 1rem;
      background-color: white;
      padding: 1rem;
      border-radius: 0.6rem;
    }
  }
